<div class="container mt-4">
  <div class="row">
    <div class="row"><%= link_to "Back to flats", flats_path, class: 'pb-3' %></div>
    <div class="col-md-12 mb-4">
      <div class="card h-100 shadow-sm">
        <div class="card-body d-flex flex-column">
          <h4 class="card-title">Edit Flat</h4>
          <h6 class="card-subtitle mb-2 text-muted">Edit your flat</h6>
          <p class="card-text mb-3">Fill in the details below to edit the flat.</p>
          <%= render "form", flat: @flat %>
        </div>
      </div>
    </div>
  </div>
